# Archivos de compilación
*.o
*.obj
*.exe
*.out

# Archivos de dependencias de Code::Blocks
*.depend
*.layout

# Carpetas generadas por Code::Blocks u otros IDEs
/bin/
/obj/

# Archivos de backup o temporales
*~
*.swp
.DS_Store

# Archivos generados por el sistema
Thumbs.db
